*
{
    margin:0;
    padding:0;
    font-family: Arial;
    font-size: 1vh;
}

body
{
    width:100%;
    height:100%;
    overflow: hidden;
}

#board
{
    width: 90vh;
    height: 90vh;
    margin: auto;
    border: solid 0.5vh black;
    display: grid;
    grid-template-columns: repeat(0, 1fr);
    margin-top: 5vh;
}

.row
{
    width:100%;
    display:grid;

}

.cell
{
    display: inline-block;
    border: solid 0.1vh black;
    overflow:hidden;
    position: relative;
    user-select:none;
}

.cell-label
{
    position:absolute;
    left:0;
    top:0;
}

#players-panel
{
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    width: 15%;
    border-left: solid 0.5vh black;
    display: grid;
    grid-template-rows: repeat(0, 1fr);
}

.player-panel
{
    width:100%;
    border: solid 0.3vh black;
    position: relative;
}


.player-panel-turn {
  position: absolute;
  top:50%;
  left: -5vh;
  border-top: 5vh solid transparent;
  border-bottom: 5vh solid transparent;
  border-left: 5vh solid black;
  transform: translate(0,-50%);
  visibility: hidden;
}


#player-turn
{
	position: absolute;
	top: 0;
	margin: auto;
	left: 0;
	right: 0;
	width: 40%;
	text-align: center;
}

#player-turn > p
{
	font-size: 4vh;
}

#action-panel {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	border-right: 0.5vh solid black;
	width: 20%;
}
