h1
{
    margin-top: 3vh;
    text-align: center;
    font-size: 7vh;
    font-weight: 200;
    margin-bottom: 6vh;
}

#content
{
    position: absolute;
    top: 50%;
    left:0;
    right:0;
    margin:auto;
    width:110vh;
    height:50vh;
    transform: translate(0, -50%);
    background: var( --background-panel);
    border: solid 0.5vh var(--border-color);
    overflow: hidden;
    border-radius:2vh;
}

#create_new_room
{
    position:relative;
    display:block;
    width:110vh;
    margin:auto;
    height:5vh;
    font-size:3vh;
    background: rgba(0,0,0,0.4);
    border: solid 0.2vh var(--border-color);
    border-radius: 0.5vh;
}

table {
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;
    font-size:2vh;
}
table thead {
    /* head takes the height it requires,
    and it's not scaled when table is resized */
    flex: 0 0 auto;
    width: 100%;
    border-bottom:solid 0.2vh var(--border-color)
}
table tbody {
    /* body takes all the remaining available space */
    flex: 1 1 auto;
    display: block;
    overflow-y: scroll;
}
table tbody tr {
    width: 100%;
}
table thead,
table tbody tr {
    display: table;
    table-layout: fixed;
}

#rooms_table thead tr{
  border-bottom: solid 0.2vh var(--border-color);

}

#rooms_table tr{
  border-bottom: solid 0.1vh rgba(255,255,255,0.3);
  width: 100%;

}

#rooms_table td:nth-child(1), #rooms_table th:nth-child(1){
  width:100%;
}

#rooms_table td:nth-child(2), #rooms_table th:nth-child(2){
  width:10%;
}

#rooms_table td:nth-child(3), #rooms_table th:nth-child(3){
  width:30%;
}

#rooms_table td:nth-child(4), #rooms_table th:nth-child(4){
  width:25%;
}

#rooms_table td:nth-child(5), #rooms_table th:nth-child(5){
  width:10%;
}

#rooms_table td:nth-child(6), #rooms_table th:nth-child(6){
  width:10%;
}


#rooms_table td{
  text-align: left;
    padding-top:0.8vh;
  padding-bottom:0.8vh;
}

#rooms_table td>img{
  width:3vh;
  height:3vh;
}

#rooms_table th{
  text-align: left;
    vertical-align: middle;
    position: sticky; top: 0; z-index: 1;
}

#rooms_table tr > th:first-child{
    display:block;
  margin-left:2vh;


}

#rooms_table tr > td:first-child{
    display:block;
  margin-left:2vh;
  line-height:3.4vh;
}

.join_button {
	width: 8ch;
	background: rgba(0,0,0,0.2);
	border: solid 0.2vh rgba(255,255,255,0.5);
	border-radius: 0.5vh;
	line-height: 1.5vh;
	font-size: 1.5vh;
	height: 3vh;
}

.join_button:hover, #create_new_room:hover, .submit-form:hover {
	transform: scale(1.05);
	transition: all 0.2s;
	cursor: pointer;
	opacity: 0.5;
}

.join_button:disabled {
	transform: scale(1.0);
	transition: all 0s;
	cursor: default;
	opacity: 0.2;
}

#gradient
{
background: linear-gradient(transparent,  var( --background-panel));
  pointer-events: none;
  width:100%;
  position:absolute;
  bottom:0;
  left:0;
  right:0;
  height:8vh;
}

#opacity-div
{
    background: black;
    opacity:0.92;
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    z-index:10;
}

#create_new_room_div, #join_room_div
{
    position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	margin: auto;
	width: fit-content;
	height: fit-content;
	transform: translate(0, -50%);
	background: var( --background-panel);
	border: solid 0.5vh var(--border-color);
	overflow: hidden;
	border-radius: 2vh;
	z-index: 20;
}
#create_new_room_form, #join_room_form {

	display: grid;
	grid-template-columns: 15vh 30vh;
	grid-gap: 1vh;
}

#create_new_room_form label, #join_room_form label{ text-align:right; }
#create_new_room_form label:after, #join_room_form label:after { }

#create_new_room_form input, #join_room_form input
{
 width:25vh;
 float:left;
 color:black;
 margin-left:1vh;
}

#create-private
{
width:2vh !important;
}

.form-title
{
    text-align:center;
    font-size:3vh;
    margin-bottom:2vh;
}

.submit-form
{
    display:block;
    margin:auto;
    width: 20ch;
	background: rgba(0,0,0,0.2);
	border: solid 0.2vh rgba(255,255,255,0.5);
	border-radius: 0.5vh;
	line-height: 1.5vh;
	font-size: 1.5vh;
	height: 3vh;
	margin-top:2vh;
	margin-bottom:2vh;
}

#create_new_room_div, #join_room_div, #opacity-div
{
    visibility: hidden;
}

#hide_forms
{
    height:5vh;
    width:5vh;
    position:absolute;
    right:5vh;
    top:5vh;
    background:none;
    border:none;
    color:white;
    cursor:pointer;
    font-size:5vh;
    transition: all 0.2s;
}

#hide_forms:hover
{
    transform:scale(1.2);
    opacity:0.7;
}

.round
{
    position:absolute;
    width:30vh;
    height:30vh;
    font-size:3vh;
    line-height:5vh;
    border-radius:100%;
    background:rgb(0,0,0);
    opacity:0.5;
    text-decoration: none;
    border: solid 0.5vh rgba(255,255,255,1);
    transition: all 0.3s;
}

#rules:hover
{
    transform: translate(50%,-50%) scale(1.2) !important;
    border: solid 0.5vh rgba(255,255,255,0.5);
    opacity:0.7;
}

#stats:hover
{
    transform: translate(-50%,-50%) scale(1.2) !important;
    border: solid 0.5vh rgba(255,255,255,0.5);
    opacity:0.7;
}

#rules > p {
	position: absolute;
	right: 17vh;
	top: 17vh;
	width: 10vh;
	text-align: right;
}

#stats > p {
	position: absolute;
	left: 17vh;
	top: 17vh;
	width: 10vh;
	text-align: left;
}

#rules
{
    right:0;
    top:0;
    transform: translate(50%,-50%);
}

#stats
{
    left:0;
    top:0;
    transform: translate(-50%,-50%);
}