<!doctype html>
<html>
<head>
    <title>game | {{game.players[player_id].player_name}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/inheritance.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/game.css') }}">
</head>
<body onmousemove="cardMove(event)">
    <div id="data">
        <p id="data-game_id">{{game.game_id}}</p>
        <p id="data-player_id">{{player_id}}</p>
    </div>
    <div id="popup">
        <div id="popup-message">
            <p id="popup-message-title">message</p>
            <p id="popup-message-content">some random content</p>
            <button id="popup-message-button" onclick="document.getElementById('popup').style.display='none';">ok</button>
        </div>
    </div>
    <div id="action-panel">
        <div id="action-panel_round-panel">
            <p>round <span id="action-panel-round_panel-round_text">{{game.round}}</span> / <span>{{game.ROUNDS_AMOUNT}}</span></p>
        </div>
        <div id="cards-panel">
            <div class='trash_box' id="action-panel_trash-container">
                <span class="trash trash_box">
                    <span class="trash_box"></span>
                    <i class="trash_box"></i>
                </span>
            </div>
            <div id="action-panel-cards_deck">?</div>
            <table>
                <tr>
                    <td>cards left</td><td> : </td><td id="action-panel-cards_deck-cards_left_text">{{game.cards|length}}</td>
                </tr>
            </table>
        </div>
        <div id="player-info-panel">
            <table>
                <tr>
                    <td>your name</td><td> : </td><td>{{game.players[player_id].player_name}}</td>
                </tr>
                <tr>
                    <td>your role</td><td> : </td><td style="color:{{'green' if game.players[player_id].player_role == game.GOOD_PLAYER else 'red'}};">{{game.players[player_id].player_role}}</td>
                </tr>
            </table>
            <p class="player-info-panel-cards-title">cards:</p>
            <table class="action-panel-player-cards-table">
            {% set count = namespace(value=0) %}
            {% for x in range((game.CARDS_PER_PLAYER_AMOUNT / 2) | int) %}
            <tr>
                {% for y in range(2) %}

                <td class="action-panel-player-cards-table-cell"><img data-index="slot_{{count.value}}" data-info="{{game.players[player_id].player_cards[count.value].card_info_js}}" class="player-card-img" id="card_slot_{{count.value}}" src="{{game.players[player_id].player_cards[count.value].picture_url}}" alt="" /><p>x</p></td>
                {% set count.value = count.value + 1 %}
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        </div>
        <div id="action-panel-bottom">
            <div id="player-turn"><p><span id="player-turn-text">{{game.players[game.turn].player_name}}</span><span id="player-turn-loading"> turn</span></p></div>
        <button id="action-panel-end_turn_button" onclick="end_turn('{{game.game_id}}','{{player_id}}');" disabled>end turn</button>
        </div>
    </div>
    <div id="board">
        <img id="board-background" src="http://localhost:2137/load_image?filename=background.png" alt=""/>
        {% for x in range(game.BOARD_SIZE_X) %}
        <div class="row">
        {% for y in range(game.BOARD_SIZE_Y) %}
            <div id="cell_{{x}}_{{y}}_cell" class="cell">
                <img id="cell_{{x}}_{{y}}_img" class="cell cell_img" src="/load_image?filename=empty.png" alt=""/>
                <img id="cell_{{x}}_{{y}}_dummy" class="cell cell_dummy" src="/load_image?filename=empty.png" alt=""/>
                <p class="cell-label">x:{{x}} y:{{y}}</p>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
    <div id="players-panel">
        {% for player in game.players %}
            <div id="player_{{game.players[player].player_id}}" class="players-panel">
                <div class="players-panel_turn" id="players_{{game.players[player].player_id}}_turn"></div>
                <div class="player_panel_info">
                    <p id="{{game.players[player].player_id}}_name">{{game.players[player].player_name}}</p>
                    <img class="player_rank_img"  data-playerid="{{game.players[player].player_id}}" id="{{game.players[player].player_id}}_rank_img" src="{{game.players[player].rank_url}}" alt="" />
                </div>
                <div class="player_rank_container">
                    <p>rank:<span class="player_rank" data-playerid="{{game.players[player].player_id}}" id="{{game.players[player].player_id}}_rank_text">{{game.players[player].rank}}</span></p>
                </div>
                <table class="players-panel_turn_actions">
                    <tr>
                        {% for action_number in range(game.ACTION_CARDS_TYPES_AMOUNT) %}
                            <td class="players-panel_turn_actions_action"><img class="action_image_dummy" data-actionnum="{{action_number}}" data-playerid="{{game.players[player].player_id}}" src="/load_image?filename=empty.png" alt=""/><img data-actionnum="{{action_number}}" class='action_image' data-actionid="{{game.players[player].player_id}}"  src="{{ url_for('static', filename= 'images/' + (action_number) | string + '_positive.png') }}" alt=""/></td>
                        {% endfor %}
                    </tr>
                </table>
            </div>
        {% endfor %}
    </div>
    <script>
        document.getElementById("board").style.gridTemplateColumns = "repeat({{game.BOARD_SIZE_X}}, 1fr)";
        document.getElementById("players-panel").style.gridTemplateRows = "repeat({{game.players|length}}, 1fr)";

        let total_width = window.innerWidth;
        console.log(total_width);
        let basic_size = 90;
        let basic_size_px = 1920;
        basic_size = (window.innerWidth * basic_size) / basic_size_px;

        document.getElementById("board").style.height = basic_size.toString() + "vh";
        document.getElementById("board").style.width = ((basic_size / {{game.BOARD_SIZE_Y}}) * {{game.BOARD_SIZE_X}}).toString() + "vh";
        document.getElementById("players_{{game.turn}}_turn").style.visibility = "visible";



        setInterval(function(){fetch_game_status("{{game.game_id}}","{{game.players[game.turn].player_id}}")}, 1000);

    </script>
    <script src="{{url_for('static', filename='js/drag_and_drop_mechanics.js')}}"></script>
    <script src="{{url_for('static', filename='js/game.js')}}"></script>
</body>
</html>