<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>main page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/inheritance.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
<h1>Tunnel Game</h1>
<button onclick="show_create_new_room_form()" id="create_new_room">Create new room</button>
<div id="content">
    <table id="rooms_table">
        <thead>
        <tr>
            <th>Name:</th>
            <th>Players:</th>
            <th>Comment:</th>
            <th>Locked:</th>
            <th>Join:</th>
        </tr>
        </thead>
        <tbody id="table_content">
        {% for room in rooms %}
        <tr data-locked="{{rooms[room].locked|safe}}">
            <td>{{rooms[room].room_name}}</td>
            <td>{{rooms[room].players_amount}}/10</td>
            <td>{{rooms[room].room_comment}}</td>
            <td>{{'<img src="static/images/locked.png"/>'|safe if rooms[room].locked else '<img
                    src="static/images/unlocked.png"/>'|safe}}
            </td>
            <td>
                <button onclick="show_join_room_form('{{rooms[room].room_id}}', '{{'true' if rooms[room].locked else 'false'}}');" class="join_button">join</button>
            </td>
        </tr>
        {% endfor %}
        <div id="gradient"></div>
        </tbody>
    </table>
</div>
<div id="create_new_room_div">
    <p class="form-title">Create new room</p>
    <div id="create_new_room_form">
        <label for="create-player">Player Name:</label>
        <input type="text" id="create-player" name="create-player" maxlength="15">
        <label for="create-name">Room Name:</label>
        <input type="text" id="create-name" name="create-name" maxlength="15">
        <label for="create-comment">Room Comment:</label>
        <input type="text" id="create-comment" name="create-comment" maxlength="30">
        <label for="create-private">Is room private:</label>
        <input type="checkbox" id="create-private" name="create-private" value="0">
        <label for="create-password">Room Password:</label>
        <input type="password" id="create-password" name="create-password" maxlength="30">
    </div>
    <button class="submit-form" onclick="create_new_room();">create room</button>
</div>
<div id="join_room_div">
    <p class="form-title">Join room</p>
    <div id="join_room_form">
        <label for="join-player">Player Name:</label>
        <input type="text" id="join-player" name="join-player" maxlength="15">
        <label id="join-password-label" for="join-password">Room Password:</label>
        <input type="password" id="join-password" name="join-password" maxlength="30">
        <input type="hidden" id="join-id" name="join-id" maxlength="30">
    </div>
    <button class="submit-form" onclick="join_room();">join room</button>
</div>
<div id="opacity-div"><button id="hide_forms" onclick="hide_forms();">❌</button></div>
<script src="{{url_for('static', filename='js/game_rooms.js')}}"></script>
</body>
</html>