<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>main page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/inheritance.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
<h1>Tunnel Game</h1>
<button onclick="create_new_room();" id="create_new_room">Create new room</button>
 <div id="content">
    <table id="rooms_table">
        <thead>
            <tr>
                <th>Name:</th>
                <th>Players:</th>
                <th>Comment:</th>
                <th>Locked:</th>
                <th>Join:</th>
            </tr>
        </thead>
        <tbody>
            {% for room in rooms %}
                <tr>
                    <td>{{rooms[room].room_name}}</td>
                    <td>{{rooms[room].players_amount}}/10</td>
                    <td>{{rooms[room].room_comment}}</td>
                    <td>{{'<img src="static/images/locked.png"/>'|safe if rooms[room].locked else '<img src="static/images/unlocked.png"/>'|safe}}</td>
                    <td><button class="join_button">join</button></td>
                </tr>
             {% endfor %}
        <div id="gradient"></div>
        </tbody>
    </table>
     <div id="rooms">

     </div>
 </div>
<script src="{{url_for('static', filename='js/game_rooms.js')}}"></script>
</body>
</html>