<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ROUND END</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/inheritance.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/round_end.css') }}">
</head>
<body data-gameid="{{gameid}}" data-playerid="{{playerid}}" data-round="{{game.round}}" data-players_data="{{players_data}}">
<div id="content">
    <h1>Round <span style="font-style:bold;">{{game.round}}/{{game.ROUNDS_AMOUNT}}</span> summary</h1>
    <img id="purse" src="{{ url_for('static', filename='images/purse.png') }}" alt=""/>
    <div id="players-panel">
        {% for player in game.players %}
        <div class="players-panel">
            <p>{{game.players[player].player_name}}</p>
            <p class="role" style="color: {{'green' if game.GOOD_PLAYER == game.players[player].player_role else 'red'}}">{{game.players[player].player_role}}</p>
            <img class="rank_img" id="{{game.players[player].player_id}}_rank" src="/static/images/rank_{{game.players[player].last_player_rank}}.svg" alt=""/>
            <p class="rank">rank: <span id="{{game.players[player].player_id}}_text">{{game.players[player].last_player_rank}}</span></p>
        </div>
        {% endfor %}
    </div>


    {% if game.round < 3 %}
    <p id="timer">round {{game.round+1}} will start in: <span id="counter">30</span>s</p>
    {% else %}
    <p id="timer">leaderboard will be displayed: <span id="counter">30</span>s</p>
    {% endif %}
</div>
<script src="{{url_for('static', filename='js/round_end.js')}}"></script>
</body>
</html>