<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RULES | {{game_name}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/inheritance.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/rules.css') }}">
</head>
<body>
<div id="content">
    <h1>{{game_name}}</h1>
    <p>Players: 3-10 Ages: 8 and up Playing time: about 30 minutes</p>
    <h2>Game Pieces:</h2>
    <p>44 Tunnel Cards 27 Action Cards</p>
    <h2>The Goal of the Game</h2>
    <p>
        Are you a soldier... or a saboteur?
        The players are soldiers working their trenches ever-deeper into the enemy terretory in
        search of fame, or saboteurs trying to put obstacles in the soldiers’ path. The members of each group
        should work together, but often they can only guess who their allies are! If the soldiers can make a
        path to the objective, they are rewarded with ranks while the saboteurs leave empty-handed.
        If the soldiers fail, it is the saboteurs who reap the reward! But, the identity of each soldier is not
        revealed until the ranks is split up. After three rounds, the soldier with the highest rank wins!
    </p>
    <h2>Preparation</h2>
    <p>The number of soldier and saboteur cards used depends on the number of players:</p>
    <ul>
        <li>3 players: 1 saboteur and 3 soldiers</li>
        <li>4 players: 1 saboteur and 4 soldiers</li>
        <li>5 players: 2 saboteurs and 4 soldiers</li>
        <li>6 players: 2 saboteurs and 5 soldiers</li>
    </ul>
    <ul>
        <li>7 players: 3 saboteurs and 5 soldiers</li>
        <li>8 players: 3 saboteurs and 6 soldiers</li>
        <li>9 players: 3 saboteurs and 7 soldiers</li>
        <li>10 players: all soldiers cards</li>
    </ul>
    <p>role cards will be dealed to each player randomly</p>
    <p>The number of cards on hand used depends on the number of players:</p>
    <ul>
        <li>3 to 5 players: Each player is dealt 6 cards</li>
        <li>6 to 10 players: Each player is dealt 4 cards.
    </ul>
    <p>rest of cards will be putted on stack</p>
    <h2>How to play</h2>
    <p>On his turn, a player must first play 1 card.</p>
    <p>This means either:</p>
    <ul>
        <li>Add 1 path card to the maze; or</li>
        <li>Place 1 action card in front of any player; or</li>
        <li>Pass, by putting 1 on the discard pile.</li>
    </ul>
    <p>
        Then, player can end his turn, and new card will be added to his inventory
    </p>
    <h2>Playing a Path Card</h2>
    <p>
        The path cards are used to build a path from the start
        card to the goal cards. They can only ever be played by
        connecting to a path card that’s already on the table
        (including the start card). All paths on the sides of the
        new card must fit with the other cards already in play.
        Important: Newly placed path cards must always have an
        uninterrupted connection to the start card!
        Playing Hint: The soldiers will try to build an uninterrupted path
        from the start card to one of the goal cards while the saboteurs will
        try to prevent just that. However, you should not be too obvious, or
        your identity will be guessed very easily!
    </p>
    <h2>Playing an Action Card</h2>
    <p>Action cards are always played face up in front of a player (yourself or another player).</p>
    <p>Action cards can be used to hinder or help the players</p><br>
    <p>
        <span style="font-weight:bold;">Broken Tools:</span> If one of these cards is in front of a player, he may not
        play any path cards—of course he may still play other cards! At any
        time, only one card of each type can be in front of a given player.
        A player can only add a path card to the maze if there is no such card
        in front of him at the beginning of his turn.
    </p><br>
    <p>
        <span style="font-weight:bold;">Fix Tools:</span> These cards are used to repair broken tools—in other words to
        remove one of the broken tool cards from in front of a player. They can
        be played on oneself or on another player. Either way, both the repair
        card and the broken tool card are placed in the discard pile. Of course,
        the repair card must match the type of broken tool.
    </p><br>
    <h2>Passing</h2>
    <p>If a player cannot or does not want to play a card, he must pass by putting 1 card from his hand on the discard pile</p>
    <h2>The End of a Round</h2>
    <p>
        If a player plays a path card that touches a goal card and creates an uninterrupted
        path from the start card to that goal card he must turn that goal card over:
    </p>
    <ul>
        <li>If it is the objective card, the round is over!</li>
        <li>If it is a dummy, the round continues</li>
    </ul>
    <p>The round also ends if the draw deck runs out of cards</p>
    <h2>Handing Out the ranks</h2>
    <p>
        The soldiers win the round if there is an uninterrupted path from the
        start card to the goal card that shows the objective. If they do, the player who
        played the last path card (that connected to the objective) gets highest a number of randomly generated ranks from 1 to 4.
    </p><br>
    <p>rest of soldiers get randomly generated rank from 1 to 4</p><br>
    <p><br>
        If the saboteurs have won the round if the goal card with the objective wasn’t reached. If there was only
        1 saboteur, he gets rank worth a total of four. If there were 2 or 3
        saboteurs, they each get 3 ranks. If there were 4 saboteurs, each gets 2 ranks.
    </p>
    <h2>End of the Game</h2>
    <p>
        The game ends after 3 rounds. Player with the highest rank wins the game! If there is a tie, they share the win.
    </p>
    <a href="/">go back to lobby</a>
</div>

</body>
</html>