<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SERVER STATS | {{game_name}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/inheritance.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stats.css') }}">
</head>
<body>
<div id="content">
    <h1>SERVER STATS</h1>
    <div class="inline">
        <p>server start time: <span>{{stats["start_time"]}}</span></p>
        <p>elapsed time: <span>{{stats["elapsed_time"]}}</span></p>
    </div>
    <p style="margin:1vh;font-size:2vh;text-align:center;">total memory: <span>{{stats["total_memory"]}}</span></p>
    <div id="tables">
        <div class="inline-table">
            <p>rooms</p>
            <p>amount:<span id="rooms_amount">{{stats["rooms_amount"]}}</span></p>
            <p>total memory:<span id="rooms_memory">{{stats["all_rooms_memory"]}}</span></p>
            <div class="table">
                <table>
                    <thead>
                    <tr>
                        <th>No</th>
                        <th>name</th>
                        <th>memory</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% set count = namespace(value=1) %}
                    {% for room in stats["rooms_memory"] %}
                    <tr>
                        <td>{{count.value}}</td>
                        <td>{{room}}</td>
                        <td>{{stats["rooms_memory"][room]}}</td>
                    </tr>

                    {% set count.value = count.value + 1 %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
        <div class="inline-table">
            <p>games</p>
            <p>amount:<span id="games_amount">{{stats["games_amount"]}}</span></p>
            <p>total memory:<span id="games_memory">{{stats["all_games_memory"]}}</span></p>
            <div class="table">
                <table>
                    <thead>
                    <tr>
                        <th>No</th>
                        <th>name</th>
                        <th>memory</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% set count = namespace(value=1) %}
                    {% for game in stats["games_memory"] %}
                    <tr>
                        <td>{{count.value}}</td>
                        <td>{{game}}</td>
                        <td>{{stats["games_memory"][game]}}</td>
                    </tr>

                    {% set count.value = count.value + 1 %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <a href="/">go back to lobby</a>
</div>
<script src="{{url_for('static', filename='js/leaderboard_sort.js')}}"></script>
</body>
</html>